* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
}

.logo {
  color: #3b82f6;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #3b82f6;
}

section {
  padding: 100px 50px;
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.hero h1 {
  font-size: 40px;
}

.hero span {
  color: #3b82f6;
}

/* Container (circle frame) */
.hero-img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #3b82f6;
  box-shadow: 0 0 25px rgba(59,130,246,0.6);
}

/* Image */
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;

  /* Lighting fix */
  filter: brightness(1.1) contrast(1.1) saturate(1.1);

  transition: 0.3s;
}

/* Hover effect */
.hero-img img:hover {
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #3b82f6;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

/* Skills */
.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.skill-box {
  background: #1e293b;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}

.skill-box:hover {
  transform: translateY(-10px);
}

/* Projects */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* Contact */
.contact a {
  display: block;
  margin: 10px 0;
  color: #3b82f6;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}

/* Responsive */
@media(max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}
